body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    width: 90%;
    max-width: 1000px;
    margin: auto;
    padding: 20px;
    background: rgb(242, 244, 242);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-top: 20px;
    text-align: center;
}

h1, h2 {
    text-align: center;
}

.dashboard {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.card {
    width: 30%;
    padding: 15px;
    background-color: rgb(176, 214, 168);
    color: rgb(37, 36, 36);
    border-radius: 8px;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: rgb(176, 214, 168);
    color: rgb(35, 5, 5);
}

button {
    padding: 5px 10px;
    background: #28a745;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background: #218838;
}

#map {
    width: 100%;
    height: 400px;
    margin-top: 15px;
    border-radius: 8px;
}

@media (max-width: 768px) {
    .dashboard {
        flex-direction: column;
    }
    .card {
        width: 95%;
        margin-bottom: 10px;
    }
}
