<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FarmConnect</title>
    <link rel="stylesheet" href="./stylesheets/landP.css">
</head>
<body>
    <header>
        <div class="logo-container">
            <img src="./images/logo.png" alt="GreenBasket Logo" class="logo-img">
            <span class="logo-text">GreenBasket</span>
        </div>
        <nav>
            <ul>
                <li><a href="#" class="dashboard">Dashboard</a></li>
                <li><a href="http://127.0.0.1:5501/create%20account%20page/cap.html" class="btn signup">Sign Up</a></li>
                <li><a href="http://127.0.0.1:5501/login%20page/lp.html" class="btn login">Login</a></li>
            </ul>
        </nav>
    </header>

    <section class="hero">
        <h1>Connect with Farmers</h1>
        <p>Empowering communities through sustainable agriculture</p><br>
        <img src="./images/basket.jpg" alt="Fresh vegetables in a basket">
    </section>

    <footer>
        <br>
        <div class="footer-info">
            <div class="product"> 
                <h4>Product</h4>
                <ul>
                    <li>Features</li>
                    <li>Pricing</li>
                </ul>
            </div>
            <div class="resources">
                <h4>Resources</h4>
                <ul>
                    <li>Blog</li>
                    <li>User guides</li>
                    <li>Webinars</li>
                </ul>
            </div>
            <div class="company">
                <h4>Company</h4>
                <ul>
                    <li>About us</li>
                    <li>Contact us</li>
                </ul>
            </div>
            <div class="plans&pricing">
                <h4>Plans & pricing</h4>
                <ul>
                    <li>Personal</li>
                    <li>Start up</li>
                    <li>Oraganization</li>
                </ul>
            </div>
        </div>
        <p>&copy; 2025 GreenBasket | Privacy | Terms | Sitemap</p>
        <div class="social-icons">
            <a href="#">🌍</a>
            <a href="#">📘</a>
            <a href="#">🐦</a>
        </div>
    </footer>
</body>
</html>
